<!DOCTYPE html>
<html labg="en" xmlns:th="http://www.springframework.org/schema/mvc">
<head>
    <title>Mobile Pilot</title>
    <style>
        .silver {
            background-color: silver;
            padding: 5%;
            position: relative;
        }

        .button {
            background-color: silver;
            color: black;
            padding: 15px 32px;
            border: 1px white;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
        }
    </style>
    <link th:href="@{/bootstrap/dist/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/bootstrap/dist/css/bootstrap-theme.min.css}" rel="stylesheet"/>
    <script type="text/javascript" th:src="@{/js/lib/angular.js}"></script>
    <script type="text/javascript" th:src="@{/js/src/app.js}"></script>
</head>
<body ng-app="app" ng-controller="Main as main">
<h2>PILOT SYSTEM UI</h2>
<div class="container" role="main" style="width: 100%">
<div class="silver row">
    <div class="col-md-7"></div>
    <div class="col-md-1">
        <input type="text" ng-model="main.username"
               placeholder="username"/>
    </div>
    <div class="col-md-1">
        <input type="password" ng-model="main.password"
               placeholder="password"/>
    </div>
    <div class="col-md-1">
        <button class="button" style="width: 10%; height: 100%; position: relative;"
                ng-click="main.login()"
                ng-if="!main.isAuthed()">Login
        </button>
        <button class="button" style="width: 10%; height: 100%" ng-click="main.logout()"
                ng-if="main.isAuthed()">Logout
        </button>
    </div>
</div>
<div class="row">
    <div class="col-md-3">.col-md-8</div>
    <div class="col-md-7">.col-md-4</div>
</div>
<div class="row">
    <div class="col-md-4">.col-md-4</div>
    <div class="col-md-4">.col-md-4</div>
    <div class="col-md-4">.col-md-4</div>
</div>
<div class="row">
    <div class="col-md-6">.col-md-6</div>
    <div class="col-md-6">.col-md-6</div>
</div>
<div class="container" role="main" style="width: 100%">
    <div class="row" style="height: 50px">
        <div class="silver col-sm-6" style="width: inherit; height: 100%; position: relative"></div>
        <div class="silver col-sm-6" style="width: auto; height: 100%; position: relative">
            <input type="text" ng-model="main.username"
                   placeholder="username"/>
        </div>
        <div class="silver col-sm-6" style="width: auto; height: 100%; position: relative">
            <input type="password" ng-model="main.password"
                   placeholder="password"/>
        </div>

    </div>
</div>
</body>
</html>